/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body{
  background: linear-gradient(to right bottom, #01193e, #003b68, #0075ad, #179ccf);
  font-family: 'Raleway';
  height:100%;
}